#container{
  text-align: center;
  height: 625px;
}
.light .heading{
  color: green;
}
.dark .heading{
  color: rgb(240, 17, 139);
}
.light .h2{
  margin-top: 30px;
  color: grey;
}
.dark .h2{
  color: slateblue;
}
.nav{
  display: flex;
  justify-content: space-around;
  background-color: grey;
  align-items: center;
}
.home{
  margin-right: 750px;
  color: white;
  text-decoration: none;
}
.textutils{
  color: white;
  text-decoration: none;
}
.textarea{
  width: 80%;
  height: 150px;
  outline: none;
}
.buttons{
  margin-right: 450px;
}
.btn{
  height: 30px;
  background-color: blue;
  color: white;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
}
.light{
  color: black;
  background-color: white;
}
.dark{
  color: white;
  background-color: black;
}